.new-post {
  /* display: grid; */
  /* grid-template-rows: auto 70% auto; */
  height: 100%;
}

.new-post__title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.new-post__title__profile {
  display: flex;
  text-transform: capitalize;
  gap: 0.5em;
}

.new-post__icon {
  font-size: 1.7rem;
}

.new-post__icon:hover {
  cursor: pointer;
}

.new-post__text {
  background-color: rgba(var(--color-gray-light), 0.15);
  overflow-y: scroll;
  max-height: 70%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 12px 0px inset;
}

.new-post__text > span {
  display: block;
  border: none;
  outline: none;
  font-size: 1rem;
}

label.new-post__li {
  border: none;
  cursor: pointer;
  font-size: 1.4em;
  background-color: transparent;
  filter: grayscale(100%);
  padding: 0.4em;
  border-radius: 50%;
}
label.new-post__li:hover,
label.new-post__li:focus,
label.new-post__li:active {
  filter: none;
  background-color: rgba(var(--color-gray-light), 0.2);
}

.new-post__li:not(:first-child) {
  margin-left: 0.5em;
}

.new-post__li > input {
  display: none;
}

.new-post__placeholder {
  font-size: inherit;
  color: rgba(var(--color-gray-dark), 0.5);
}
